body{
	background-color: #000000;
	overflow: hidden;
	margin: 0px;
}
#containerDiv{
	width: 100%;
	height: 100%;	
}
#WebGLCanvas{
	position: absolute;
	top: 100px;
	left: 20%;
	width: 60%;
	height: 750px;
	background-color: #555555;	
}
#leftSideBarDiv{
	position: absolute;
	color: #FFFFFF;
	top: 100px;
	left: 10%;
	height: 750px;
	width: 10%;
	background-color: #222222;
}
#rightSideBarDiv{
	position: absolute;
	color: #FFFFFF;
	top: 100px;
	left: 80%;
	height: 750px;
	width: 10%;
	background-color: #222222;
}
#titleBarDiv{
	position: absolute;
	top: 0px;
	left: 10%;
	width: 80%;
	height: 50px;
	background-color: #125252;
	color : #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
}
#menuBarDiv{
	position: absolute;
	top: 50px;
	left: 10%;
	width: 80%;
	height: 50px;
	background: linear-gradient(#125252, #000000);
	color: #FFFFFF;
	
}
#save_butt {
	position: absolute;
	left: 25px;
	top: 10px;
	width: 75px;
	
}
#load_butt {
	position: absolute;
	left: 105px;
	top: 10px;
	width: 75px;
}
#left_rot_butt {
	position: absolute;
	left: 230px;
	top: 10px;
	width: 100px;
}
#right_rot_butt{
	position: absolute;
	left: 335px;
	top: 10px;
	width: 100px;
}
#up_butt{
	position: absolute;
	left: 450px;
	top: 10px;
	width: 75px;
}
#down_butt{
	position: absolute;
	left: 530px;
	top: 10px;
	width: 100px;
}
#move_shape_butt{
	position: absolute;
	left: 650px;
	top: 10px;
	width: 120px;
}
#x_input{
	position: absolute;
	left: 780px;
	top: 10px;
	width: 25px;
}
#y_input{
	position: absolute;
	left: 810px;
	top: 10px;
	width: 25px;
}
#z_input{
	position: absolute;
	left: 840px;
	top: 10px;
	width: 25px;
}