body {
    background-color: #000000;
    overflow: hidden;
    margin: 0px;
}

#containerDiv {
    width: 100vw;
    height: 100vh;
}

#WebGLCanvas {
    /*position: absolute;*/
    position: absolute;
    top: 10vh;
    left: 20vw;
    width: 60vw;
    height: 90vh;
    background-color: #555555;
}

#leftSideBarDiv {
    /*position: absolute;*/
    position: static;
    color: #FFFFFF;
    top: 10vh;
    height: 90vh;
    width: 20vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #000000;
    font-size: 1.5vw;
    text-align: center;
}

#rightSideBarDiv {
    /*position: absolute;*/
    position: absolute;
/*    padding-left:35px;*/
    color: #FFFFFF;
    top: 10vh;
    left: 80vw;
    height: 90vh;
    width: 20vw;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1.5vw;
    text-align: center;
    background-color: #000000;
}

#titleBarDiv {
    /*position: absolute;*/
    position: static;
    top: 0vh;
    width: 100vw;
    height: 5vh;
    background-color: #125252;
    color: #FFFFFF;
    text-align: center;
    font-size: 5vh;
}

#menuBarDiv {
    /*position: absolute;*/
    position: static;
    top: 5vh;
    width: 100vw;
    height: 5vh;
    background: linear-gradient(#125252, #000000);
    color: #FFFFFF;

}

#editor2Div {
    padding-left:25px;
    width:100%;
    height: 77%;
    background: linear-gradient(#125252, #000000);
}

#editorDiv {
    padding-left:25px;
    width:100%;
    height: 77%;
    background: linear-gradient(#125252, #000000);
}

#meshSelector {
    width: 100%;
    height: 15%;
    margin-bottom: 10px;
}

#save_butt {
    position: static;
    left: 25px;
    top: 10px;
    width: 75px;
    font-size: 01vw;

}
#place_butt {
    margin-top: 5px;
    width: 100%;
}
#load_butt {
    position: static;
    left: 105px;
    top: 10px;
    width: 75px;
    font-size: 01vw;
}

#show_grid {
    position: static;
    left: 185px;
    top: 10px;
    width: 10vw;
    font-size: 01vw;
}

#hide_grid {
    position: static;
    left: 270px;
    top: 10px;
    width: 10vw;
    font-size: 01vw;
}

/*
toolbox css
*/
.toolbar_butt {
    width: 7.5vw;
    height: 3vh;
    font-size: .9vw;
}

.toolbar_label {
    padding-right: 5vw;
    height: 03vh;
    font-size: 01vw;
}

.toolbar_input {
    width: 30%;
    height: 3%;
    font-size: 01vw;
}