body{
	background-color: #000000;
	overflow: hidden;
	margin: 0px;
}
#containerDiv{
	width: 100%;
	height: 100%;	
}
#WebGLCanvas{
	position: absolute;
	top: 10%;
	left: 20%;
	width: 70%;
	height: 90%;
	background-color: #555555;	
}
#leftSideBarDiv{
	position: absolute;
	color: #FFFFFF;
	top: 10%;
	height: 90%;
	width: 15%;
	background-color: #222222;
	font-size: 15px;
	text-align: center;
}
#rightSideBarDiv{
	position: absolute;
	color: #FFFFFF;
	top: 10%;
	left: 90%;
	height: 90%;
	width: 15%;
	background-color: #222222;
}
#titleBarDiv{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 5%;
	background-color: #125252;
	color : #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
}
#menuBarDiv{
	position: absolute;
	top: 5%;
	width: 100%;
	height: 5%;
	background: linear-gradient(#125252, #000000);
	color: #FFFFFF;
	
}

#editorDiv{
	margin-top: 5%;
	width: 100%;
	height: 77%;
	background: linear-gradient(#125252, #000000);
}
#meshSelector {
	width: 90%;
	height: 15%;
}
#save_butt {
	position: absolute;
	left: 25px;
	top: 10px;
	width: 75px;
	
}
#load_butt {
	position: absolute;
	left: 105px;
	top: 10px;
	width: 75px;
}
/*
toolbox css
*/
.toolbar_butt {
	width: 50%;
	height: 3%;
	font-size: 80%;
}
.toolbar_label {
	width: 40%;
	height: 3%;
	font-size: 80%;
	padding-right: 10%;
	padding-left: 10%;
	text-align: center;
}
.toolbar_input {
	width: 50%;
	height: 3%;
	font-size: 80%;
}
